<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th colspan="9" class="nom-plan">{{ objectif.etablissement}}</th>
            </tr>
            <tr class="objectif">
                <th>Références</th>
                <th>Objectifs</th>
                <th>Thème</th>
                <th>Sources</th>
                <th>Responsables</th>
                <th>Echéances</th>
                <th>Priorités</th>
                <th>Avancement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ objectif.objectifs[0].reference}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="modification">
                    <i class="fas fa-pencil-alt"></i><br>
                    <i class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <tr>
                <th colspan="3">Actions</th>
                <th>Pilotes</th>
                <th>Echéances</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Actualiser la formation</td>
                <td></td>
                <td></td>
                <td>i</td>
                <td>Non traité</td>
            </tr>
        </tbody>
        <tfoot>
            <button routerLink="/formulaire" type="button" class="btn btn-info">Ajouter objectif</button>
        </tfoot>
    </table>      
</div>
