table {
    thead {
        .nom-plan {
            font-size: 14px;
            background-color: #559caa;
            text-align: left;
        }
        .objectif {
            font-size: 12px;
            background-color: #32a6bd;
            color: white;
            text-align: center;
        }
        th {
            border: 1px solid #e0e0e0; 
        }
        
    }
    tbody { 
        .modification {
            text-align: center;
        }
        td {
            font-size: 12px;
            background-color: #f2f0f1;
            border: 1px solid #e0e0e0;
        }
        th {
            font-size: 12px;
            text-align: center;
            color: #32a6bd;
            border: 1px solid #e0e0e0;
        }
        .fas {
            font-size: 20px;
        }
    }
    button {
        display: block;
        margin: auto;
    }
}

