<div class="container">
	<table>
		<tr class="nom-etablissement">
			<th colspan="9">{{ objectif.etablissement}}</th>
		</tr>
		<tr class="objectif-title">
			<th class="references">Références</th>
			<th class="objectifs">Objectifs</th>
			<th class="theme">Thème</th>
			<th class="sources">Sources</th>
			<th class="responsables">Responsables</th>
			<th class="echeances">Echéances</th>
			<th class="priorités">Priorités</th>
			<th class="avancement">Avancement</th>
			<th class="modification"></th>
		</tr>
	</table>
	<pa-objectif *ngFor="let obj of objectif.objectifs" [Objectifs]="obj"></pa-objectif>
	<button routerLink="/formulaire" type="button" class="btn btn-info">Ajouter objectif</button>
</div>