<div class="container">
  <p>Entrer votre nouvel objectif ici :</p>
  <form (ngSubmit)="onSubmitForm()" [formGroup]="objectifForm">
    <div class="form-group row">
      <div class="form-group col">
        <label for="reference">Référence de l'objectif</label>
        <input type="text" class="form-control" id="reference" placeholder="Référence de l'objectif"
          formControlName="reference" [ngClass]="{ 'is-invalid': submitted && c.reference.errors }" />
        <div *ngIf="submitted && c.reference.errors" class="invalid-feedback">
          <div *ngIf="c.reference.errors.required">La référence de l'objectif est requise</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="nom">Nom de l'objectif</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom de l'objectif"
          formControlName="nom" [ngClass]="{ 'is-invalid': submitted && c.nom.errors }" />
        <div *ngIf="submitted && c.nom.errors" class="invalid-feedback">
          <div *ngIf="c.nom.errors.required">Le nom de l'objectif est requis</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="form-group col">
        <label for="themes">Thème de l'objectif</label>
        <input type="text" class="form-control" id="themes" placeholder="Thèmes de l'objectif"
          formControlName="themes" [ngClass]="{ 'is-invalid': submitted && c.themes.errors }" />
        <div *ngIf="submitted && c.themes.errors" class="invalid-feedback">
          <div *ngIf="c.themes.errors.required">Le thème de l'objectif est requis</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="sources">Sources de l'objectif</label>
        <input type="text" class="form-control" id="sources" placeholder="Sources de l'objectif"
          formControlName="sources" [ngClass]="{ 'is-invalid': submitted && c.sources.errors }" />
        <div *ngIf="submitted && c.sources.errors" class="invalid-feedback">
          <div *ngIf="c.sources.errors.required">Les sources de l'objectif sont requises</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="form-group col">
        <label for="responsables">Responsable de l'objectif</label>
        <input type="text" class="form-control" id="responsables" placeholder="Responsables de l'objectif"
          formControlName="responsables"
          [ngClass]="{ 'is-invalid': submitted && c.responsables.errors }" />
        <div *ngIf="submitted && c.responsables.errors" class="invalid-feedback">
          <div *ngIf="c.responsables.errors.required">Le responsable de l'objectif est requis</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="echeances">Echéance de l'objectif</label>
        <input type="text" class="form-control" id="echeances" placeholder="Echéances de l'objectif"
          formControlName="echeances" [ngClass]="{ 'is-invalid': submitted && c.echeances.errors }" />
        <div *ngIf="submitted && c.echeances.errors" class="invalid-feedback">
          <div *ngIf="c.echeances.errors.required">L'échéance de l'objectif est requise</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="priorites">Priorité de l'objectif</label>
        <input type="text" class="form-control" id="priorites" placeholder="Priorités de l'objectif"
          formControlName="priorites" [ngClass]="{ 'is-invalid': submitted && c.priorites.errors }" />
        <div *ngIf="submitted && c.priorites.errors" class="invalid-feedback">
          <div *ngIf="c.priorites.errors.required">La priorité de l'objectif est requise</div>
        </div>
      </div>
    </div>

    <div formGroupName="actions">
      <p>Action à réaliser :</p>
      <div class="form-group row">
        <div class="form-group col">
          <label for="nom">Nom de l'action</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom de l'action"
            formControlName="nom" [ngClass]="{ 'is-invalid': submitted && c.nom.errors }" />
          <div *ngIf="submitted && c.nom.errors" class="invalid-feedback">
            <div *ngIf="c.nom.errors.required">Le nom de l'action est requis</div>
          </div>
        </div>

        <div class="form-group col">
          <label for="pilotes">Pilotes de l'action</label>
          <input type="text" class="form-control" id="pilotes" placeholder="Pilotes de l'action"
            formControlName="pilotes" [ngClass]="{ 'is-invalid': submitted && c.pilotes.errors }" />
          <div *ngIf="submitted && c.pilotes.errors" class="invalid-feedback">
            <div *ngIf="c.pilotes.errors.required">Les pilotes de l'action sont requis</div>
          </div>
        </div>

        <div class="form-group col">
          <label for="echeances">Echéance de l'action</label>
          <input type="text" class="form-control" id="echeances" placeholder="Echéances de l'action"
            formControlName="echeances" [ngClass]="{ 'is-invalid': submitted && c.echeances.errors }" />
          <div *ngIf="submitted && c.echeances.errors" class="invalid-feedback">
            <div *ngIf="c.echeances.errors.required">L'échéance de l'action est requise</div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>