<table>
	<tr>
		<td class="references">{{ objectif.reference }}</td>
		<td class="objectifs">{{ objectif.nom }}</td>
		<td class="theme">{{ objectif.themes }}</td>
		<td class="sources">{{ objectif.sources }}</td>
		<td class="responsables">{{ objectif.reponsables }}</td>
		<td class="echeances">{{ objectif.echeances }}</td>
		<td class="priorités">{{ objectif.priorites }}</td>
		<td class="avancement">{{ objectif.avancement }}</td>
		<td class="modification">
			<i class="fas fa-pencil-alt"></i><br>
			<i class="fas fa-trash-alt"></i>
		</td>
	</tr>
	<tr>
    <th colspan="4">Actions</th>
    <th class="pilotes">Pilotes</th>
		<th class="echeances-action">Echéances</th>
    <th class="informations"></th>
		<th colspan="2"></th>
  </tr>
</table>
<pa-action *ngFor="let action of objectif.actions" [action]="action"></pa-action>
